extends base

block content
  main.main
    .admin-container
      h2.heading-secondary.ma-bt-lg Manage Reviews

      if reviews && reviews.length > 0
        .admin-table
          table.table
            thead
              tr
                th User
                th Tour
                th Rating
                th Review
                th Actions
            tbody
              each review in reviews
                if review.user
                  tr
                    td
                      .table__user
                        img.table__img.table__img--round(src=`/img/users/${review.user.photo || 'default.jpg'}`, alt=(review.user.name || 'User'))
                        span= review.user.name || 'Unknown User'
                    td= review.tour ? review.tour.name : 'Deleted Tour'
                    td
                      .table__rating
                        each star in [1, 2, 3, 4, 5]
                          svg.reviews__star.reviews__star--small(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                            use(xlink:href='/img/icons.svg#icon-star')
                    td.table__review= review.review ? (review.review.substring(0, 50) + (review.review.length > 50 ? '...' : '')) : 'No review text'
                    td.table__actions
                      button.btn.btn--small.btn--red.btn-delete-review-admin(data-review-id=review.id) Delete
      else
        p.no-data No reviews found.
